@page
@using NewcomersTask.Web.Models
@model ChangedOrderStatusRequest
@using (Html.BeginForm("update", "OrderSaga", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Update order</th>
        </tr>
        <tr>
            <td>OrderId: </td>
            <td>
                @Html.TextBoxFor(m => m.OrderId)
            </td>
        </tr>
        <tr>
            <td>Status: </td>
            <td>
                @Html.DropDownList("Status",  Html.GetEnumSelectList<NewcomersTask.Models.Status>(), "Select Status", new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}